<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tv/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'tv/css/bootstrap.css' %}">
    <title>Show Details</title>
</head>
<body>
    <div class="container">
        <div class="align-right">
            <a href="/shows" class="to-right">Home</a>
        </div>
        <div class="form-group narrow-form">
            <h1>TV Show {{ show.id }}</h1>
            <p>Title: {{ show.title }}</p>
            <p>Network: {{ show.network }}</p>
            <p>Release Date: {{ show.release_date | date:"M d, Y" }}</p>
            <p>Description: {{ show.description }}</p>
        </div>
        <div class="bottom-links">
            <p><a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/destroy">Delete</a></p>   
        </div>
    </div>
</body>
</html>